# Database configuration
POSTGRES_USER=<your-username>
POSTGRES_PASSWORD=<your-password>
POSTGRES_DB=<your-db-name>
POSTGRES_PORT=<your-db-port>

# Application configuration
SPRING_DATASOURCE_USERNAME=<your-username>
SPRING_DATASOURCE_PASSWORD=<your-password>
SPRING_DATASOURCE_PORT=<your-db-port>

# Spring security
ADMIN_USER_NAME=<admin-username>
ADMIN_PASSWORD=<admin-password>
ADMIN_EMAIL=<admin-email>
ADMIN_ROLE=<admin-role>

SPRING_ACTIVE_PROFILE=<prod-or-dev>
APP_PORT=<your-app-port>
