# Database configuration
POSTGRES_USER=<your-username>
POSTGRES_PASSWORD=<your-password>
POSTGRES_DB=<your-db-name>
POSTGRES_PORT=<your-db-port>

# Application configuration
SPRING_DATASOURCE_USERNAME=<your-username>
SPRING_DATASOURCE_PASSWORD=<your-password>
SPRING_DATASOURCE_PORT=<your-db-port>

# Spring security
SPRING_SECURITY_USER_NAME=<your-username>
SPRING_SECURITY_USER_PASSWORD=<your-password>


APP_PORT=<your-app-port>
